<h1 class="pageName">{{pageName}}</h1>
<svg class="uc-animation-img" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     viewBox="0 0 250 250" style="enable-background:new 0 0 250 250;" xml:space="preserve">
    <style type="text/css">
	    .st0{fill:#1965A7;}
      .st1{fill:#FFFFFF;}
      .st2{font-family:'Consolas';}
      .st3{font-size:8.6257px;}
      .st4{fill:none;stroke:#fff;stroke-miterlimit:10;}
      .st5{fill:none;stroke:#1965A7;stroke-miterlimit:10;}
    </style>
  <ellipse id="XMLID_1_" class="st0" cx="125" cy="128.9" rx="47.4" ry="45.4"/>
  <text id="XMLID_2_" transform="matrix(0.8181 0 0 1 90.3513 131.8571)" class="st1 st2 st3">Under Construction</text>
  <polygon id="XMLID_3_" class="st4" points="184.6,128.7 154.8,180.4 95,180.4 65.2,128.7 95,77 154.8,77 "/>
  <rect id="XMLID_4_" x="54.4" y="64.9" class="st5" width="140.3" height="127"/>
</svg>
<div class="uc-dots">
  <span class="uc-dots-dot">.</span>
  <span class="uc-dots-dot">.</span>
  <span class="uc-dots-dot">.</span>
</div>
