@import "../abstracts/variables";
@import "../abstracts/mixins";
@import "../base/animations";

.carousel-box {
  position: relative;
  min-height: 100vh;
  max-height: 100vh;
  backface-visibility: hidden;

  &-logo {
    position: absolute;
    width: $c-logo-w;
    top: 10vw;
    left: $c-text-left;
    animation: moveInRight 0.75s ease-out;
    backface-visibility: hidden;
  }
}

.bubble {
  height: $c-bubble-h;
  width: $c-bubble-w;
  background-color: white;
  border-radius: 50%;
  @include inline-block;
  top: -10vh;
  left: $c-text-left;
  margin: 0 $c-bubble-w 0 0;
  animation: moveInBottom 0.75s 0.50s backwards;
  backface-visibility: hidden;
}

.active-img {
  background-color: dodgerblue;
}




