@import "../abstracts/variables";
@import "../abstracts/mixins";
@import "../base/animations";

.carousel-box {
  position: relative;
  background-color: $afcs-blue-transparent;
  height: 49.6vw;

  &-logo {
    position: absolute;
    width: $c-logo-w;
    top: 10vw;
    left: $c-text-left;
    animation: moveInRight 1s ease-out;
  }
}

.bubble {
  height: $c-bubble-h;
  width: $c-bubble-w;
  background-color: white;
  border-radius: 50%;
  @include inline-block;
  top: -4vw;
  left: $c-text-left;
  margin: 0 $c-bubble-w 0 0;
  animation: moveInBottom 1s ease-out 0.75s backwards;
}

.active-img {
  background-color: dodgerblue;
}




