@import "../abstracts/variables";
@import "../base/animations";

.video {
  height: 100%;
  width: 100vw;
  background-color: $afcs-blue;
  animation: flyVideoIn 0.5s;

  &-player {
    height: 49.6vw;
    width: 100vw;
    transform-origin: 50% 50%;
    box-shadow: 5px 5px 10px #000;
  }
}

