@import "abstracts/variables";
@import "base/animations";

.tile-buttons-container {
  position: relative;
  height: 100%;
  background-color: $afcs-blue;
  white-space: nowrap;
}

.tile-buttons {
  display: inline-block;
  width: 20%;
  height: 100%;
  transition: all .5s ease;
  cursor: pointer;
  visibility: hidden;
  background-color: $afcs-blue;

  @for $i from 1 to 6 {
    &:nth-child(#{$i}) {
      animation-fill-mode: backwards;
      animation-delay: $i * 0.25s;
    }
  }

  &:hover {
    margin-right: 1vw;
    width: 23.1vw;
    transform: translateY(-0.2vw);
    box-shadow: 5px 5px 10px #000;
    overflow: visible;
  }

  &:hover &-line {
    width: 6vw;
  }

  &:active {
    transform: translateY(-0.1vw);
    box-shadow: 5px 5px 5px #000;
  }

  &-img {
    position: absolute;
    width: 23.1vw;
    background-color: $afcs-blue;
  }

  &-box {
    margin-left: 2vw;
    position: relative;
    top: 11vw;
  }

  &-title {
    display: block;
    white-space: nowrap;
    color: #fff;
    font-size: 1.5vw;
    backface-visibility: hidden;
  }

  &-line {
    height: 0.2vw;
    width: 0;
    background-color: #fff;
    display: block;
    transition: width 0.4s ease-out;
  }
}

.showButtons {
  animation: moveInBottom 1s ease;
  visibility: visible;
}

