// Nav-bar
$search-transition: all .4s ease;
$nav-color-white: #fff;
$nav-font-size: 1.5rem;

$nav-link-b-space: 1rem;

$nav-logo-height: 5.5rem;
$nav-logo-width: 20rem;

$search-input-height: 5.5rem;
$search-input-width: 5rem;

$search-button-height: 10rem;
$search-button-width: 8rem;

// Carousel
$c-logo-w: 10vw;
$c-bubble-h: 0.8vw;
$c-bubble-w: 0.8vw;
$c-text-left: 5vw;
$afcs-blue: rgb(14, 23, 38);
$afcs-blue-transparent: rgba(14, 23, 38, 0.31);

// description lines
$description-line-w: 10vw;
