.tile-buttons2 {
  position: relative;
  display: inline-block;
  height: 100%;
  width: 100%;

  &-btn {
    display: inline-block;
    width: 50%;
    height: 100%;
    position: relative;
    transition: all 0.5s ease;
    cursor: pointer;
    animation: slideTile2TilesLeft 1s ease-out;

    &:last-child {
      animation: slideTile2TilesRight 1s ease-out;
    }

    &:hover {
      transform: translateY(-0.2vw);
      box-shadow: 5px 5px 10px #000;
    }

    &:active {
      transform: translateY(-0.1vw);
      box-shadow: 5px 5px 5px #000;
    }

    &:hover &-line {
      width: 15vw;
    }

    &-text {
      font-size: 2.5vw;
      color: white;
      text-shadow: 5px 5px 10px #000;
    }

    &-line {
      width: 0;
      height: .2vw;
      background-color: #fff;
      position: absolute;
      left: -1vw;
      transition: all .5s ease-out;
    }
  }

  &-title {
    position: absolute;
    top: 35%;
    left: 5%;
  }

  &-img {
    position: absolute;
    width: 100%;
    z-index: -1;
  }
}

@keyframes slideTile2Line {
  0% {
    width: 0;
  }

  100% {
    width: 15vw;
  }
}

@keyframes slideTile2TilesLeft {
  0% {
    transform: translateX(-50%);
  }

  100% {
    transform: translateX(0);
  }
}


@keyframes slideTile2TilesRight {
  0% {
    transform: translateX(50%);
  }

  100% {
    transform: translateX(0);
  }
}
