@import "abstracts/variables";

.homepage-container {
  width: 100vw;
  display: grid;
}

.homepage-carousel {
  position: relative;
  height: 49.6vw;
}
.homepage-tile-btns {
  position: relative;
  height: 30vw;
}
.homepage-description1 {
  position: relative;
  background-color: $afcs-blue;
  height: 49.6vw;
}
.homepage-slider {
  position: relative;
  background-color: $afcs-blue;
  height: 30vw;

  &::-webkit-scrollbar {
    width: 0 !important;
  }
}
.homepage-description2 {
  position: relative;
  background-color: $afcs-blue;
  height: 27vw;
  overflow-y: visible;
}
.homepage-video {
  position: relative;
  background-color: brown;
  height: 49.6vw;
}
.homepage-description3 {
  position: relative;
  background-color: chartreuse;
  height: 45vw;
}
.homepage-tile-btns2 {
  position: relative;
  background-color: darkslateblue;
  height: 25vw;
}
.homepage-register {
  position: relative;
  background-color: forestgreen;
  height: 20vw;
}

