<div class="homepage-container">
  <section class="homepage-carousel">
    <afcs-homepage-carousel></afcs-homepage-carousel>
  </section>
  <section class="homepage-tile-btns">
    <afcs-tile-buttons></afcs-tile-buttons>
  </section>
  <section class="homepage-description1">
    DESCRIPTION 1
  </section>
  <section class="homepage-slider">
    SLIDER
  </section>
  <section class="homepage-description2">
    DESCRIPTION 2
  </section>
  <section class="homepage-video">
    VIDEO
  </section>
  <section class="homepage-description3">
    DESCRIPTION 3
  </section>
  <section class="homepage-tile-btns2">
    TILE BUTTONS 2
  </section>
  <section class="homepage-register">
    REGISTER
  </section>
</div>
