@import "abstracts/variables";

.homepage-container {
  width: 100vw;
  display: grid;
}

.homepage-carousel {
  height: 49.6vw;
}
.homepage-tile-btns {
  height: 30vw;
}
.homepage-description1 {
  background-color: $afcs-blue;
  height: 49.6vw;
}
.homepage-slider {
  background-color: blueviolet;
  height: 25vw;
}
.homepage-description2 {
  background-color: aquamarine;
  height: 27vw;
}
.homepage-video {
  background-color: brown;
  height: 49.6vw;
}
.homepage-description3 {
  background-color: chartreuse;
  height: 45vw;
}
.homepage-tile-btns2 {
  background-color: darkslateblue;
  height: 25vw;
}
.homepage-register {
  background-color: forestgreen;
  height: 20vw;
}

