.homepage-container {
  width: 100vw;
  display: grid;
}

.homepage-carousel {
  height: 49.6vw;
  position: relative;
}
.homepage-tile-btns {
  background-color: grey;
  height: 25vw;
  position: relative;
}
.homepage-description1 {
  background-color: dodgerblue;
  height: 49.6vw;
  position: relative;

}
.homepage-slider {
  background-color: blueviolet;
  height: 25vw;
  position: relative;
}
.homepage-description2 {
  background-color: aquamarine;
  height: 27vw;
  position: relative;
}
.homepage-video {
  background-color: brown;
  height: 49.6vw;
  position: relative;
}
.homepage-description3 {
  background-color: chartreuse;
  height: 45vw;
  position: relative;
}
.homepage-tile-btns2 {
  background-color: darkslateblue;
  height: 25vw;
  position: relative;
}
.homepage-register {
  background-color: forestgreen;
  height: 20vw;
  position: relative;
}

