<div class="description2">
  <div *ngIf="slideOut" [ngClass]="{'moveInRight': slideOut}" class="description2-container">
    <p class="description2-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut ducimus eos est et hic iste
      pariatur sequi similique? Assumenda doloremque, dolorum ducimus error esse incidunt, iusto
      mollitia quae, quasi rem reprehenderit tempora ut velit. Aut, nesciunt odio perferendis porro
      quaerat quod sunt! Cumque, natus officiis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, tempora?
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis dolorem, enim odio omnis sunt tenetur.
    </p>
  </div>
  <div *ngIf="slideOut" [ngClass]="{'slideOut': slideOut}" class="description2-line"></div>
</div>
