$search-transition: all .5s ease;
$nav-color-white: #fff;
$nav-font-size: 1.5rem;

$nav-link-b-space: 1rem;

$nav-logo-height: 5.5rem;
$nav-logo-width: 20rem;

$search-input-height: 5.4rem;
$search-input-width: 5rem;

$search-button-height: 10rem;
$search-button-width: 8rem;

@mixin remove-border {
  border: none;
  outline: none;
}

.nav {
  background-color: $nav-color-white;

  &-logo {
    mix-blend-mode: multiply;
    height: $nav-logo-height;
    width: $nav-logo-width;
    margin-left: 2.5rem;
  }

  &-link {
    font-weight: bold;
    font-size: $nav-font-size;
  }

  &-search-icon {
    mix-blend-mode: multiply;
    height: 3rem;
    position: relative;
    top: 1.5rem;
  }

  &-btn {
    padding: 0 6% 0 4%;
    height: 5.5rem;
    @include remove-border;
    text-align: center;

    &-register {
      padding: 1.6rem 3rem 1.6rem 3rem;
      @include remove-border;
      background-color: rgb(27, 33, 52);
      color: $nav-color-white;
      font-size: $nav-font-size;
    }
  }
}

.cl-effect-1 a::before,
.cl-effect-1 a::after {
  display: inline-block;
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
  -moz-transition: -moz-transform 0.3s, opacity 0.2s;
  transition: transform 0.3s, opacity 0.2s;
}

.cl-effect-1 a::before {
  margin-right: 1rem;
  content: '[';
  -webkit-transform: translateX(2rem);
  -moz-transform: translateX(2rem);
  transform: translateX(2rem);
}

.cl-effect-1 a::after {
  margin-left: 1rem;
  content: ']';
  -webkit-transform: translateX(-2rem);
  -moz-transform: translateX(-2rem);
  transform: translateX(-2rem);
}

.cl-effect-1 a:hover::before,
.cl-effect-1 a:hover::after,
.cl-effect-1 a:focus::before,
.cl-effect-1 a:focus::after {
  opacity: 1;
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  transform: translateX(0px);
}

.active {
  &::before {
    margin-right: $nav-link-b-space;
    content: '[';
  }

  &::after {
    margin-left: $nav-link-b-space;
    content: ']';
  }
}

.search {
  width: $search-input-width;
  height: $search-input-height;
  position: relative;
  overflow: hidden;
  transition: $search-transition;
  background-color: lightgray;
  text-align: center;

  &.open {
    width: 42rem;
  }

  &-box {
    width: 100%;
    height: 100%;
    box-shadow: none;
    border: none;
    background: transparent;
    color: black;
    padding: 2rem 10rem 2rem 4.5rem;
    font-size: $nav-font-size;

    &:focus {
      outline: none;
    }
  }

  &-button {
    width: $search-button-width;
    height: $search-button-height;
    display: block;
    position: absolute;
    right: -1.6rem;
    top: -2.3rem;
    padding: 2rem;
    cursor: pointer;
  }
}

