<div class="description">
  <div class="description-box">
    <h1 class="description-title">Lorem ipsum dolor sit.</h1>
    <div class="description-line"></div>
    <p class="description-text1">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Ad aliquam architecto at commodi consectetur corporis delectus
      dicta dignissimos eligendi eos eum excepturi facilis, harum id
      labore neque officia officiis optio possimus quae quaerat quia
      quibusdam ratione reiciendis repellat repudiandae sed similique
      sit, totam unde voluptates!
    </p>
    <br>
    <p class="description-text2">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores
      ducimus earum eligendi enim, est exercitationem fugiat fugit harum hic
      id incidunt inventore, labore laudantium libero, magnam maxime modi
      molestias nisi nobis officia rem repellendus sequi soluta totam voluptate
      voluptatem voluptatibus voluptatum. Id quis suscipit ullam?
    </p>
  </div>
</div>
