@import "abstracts/variables";
@import "base/animations";

.video {
  height: 100%;

  &-player {
    height: 49.6vw;
    width: 100vw;
    animation: flyVideoIn 1s ease-out;
    box-shadow: 5px 5px 10px #000;
  }
}

