@import "../abstracts/variables";

.homepage-container {
  height: 100%;
  display: grid;
  //grid-auto-rows: minmax(15vw, auto);
  //grid-template-columns: repeat(5, 1fr);
  overflow: hidden;
}

.homepage-carousel {
  position: relative;
  height: 49.6vw;
  grid-row: 1;
  grid-column: 5;
  z-index: 1;
  background-color: $afcs-blue;
}
.homepage-tile-btns {
  position: relative;
  grid-row: 2;
  grid-column: 5;
  height: 30vw;
  z-index: 2;
}
.homepage-description1 {
  position: relative;
  //background-color: $afcs-blue;
  grid-row: 3;
  grid-column: 5;
  height: 56.6vw;
  z-index: 1;
}
.homepage-slider {
  position: relative;
  //background-color: $afcs-blue;
  height: 30vw;
  grid-row: 4;
  grid-column: 5;
  z-index: 2;

  &::-webkit-scrollbar {
    width: 0 !important;
  }
}
.homepage-description2 {
  position: relative;
  //background-color: $afcs-blue;
  height: 27vw;
  grid-row: 5;
  grid-column: 5;
  overflow-y: visible;
  z-index: 1;
}
.homepage-video {
  position: relative;
  //background-color: $afcs-blue;
  height: 56.6vw;
  grid-row: 6;
  grid-column: 5;
  z-index: 2;
}
.homepage-description3 {
  position: relative;
  //background-color: $afcs-blue;
  height: 55vw;
  grid-row: 7;
  grid-column: 5;
  z-index: 1;
}
.homepage-tile-btns2 {
  position: relative;
  //background-color: $afcs-blue;
  height: 33.5vw;
  grid-row: 8;
  grid-column: 5;
  z-index: 2;
}
.homepage-register {
  position: relative;
  //background-color: $afcs-blue;
  height: 20vw;
  grid-row: 9;
  grid-column: 5;
  z-index: 1;
}

