/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

.carousel-inner {
  height: 100%;
  width: 100%;
}

.carousel-item {
  transition: opacity 1.2s ease!important;
  position: absolute!important;
  display: block!important;
  opacity: 0;

  img {
    max-height: 100%;
    max-width: 100%;
  }
}

.carousel-item.active {
  position: relative!important;
  opacity: 1;

  img {
    max-height: 100%;
    max-width: 100%;
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-5vw);
  }

  80%{
    transform: translateX(1vw);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10vw);
  }

  80%{
    transform: translateX(-1vw);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(10vw);
  }

  80%{
    transform: translateY(-1vw);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
