.carousel-box {
  position: relative;
}

.carousel-logo {
  position: absolute;
  width: 10vw;
  top: 10vw;
  left: 5vw;
  animation: moveInRight 1s ease-out;
}

.afcs-carousel {
  position: relative;
  background-color: black;
  display: inline-block;
  z-index: -1;
}

.nav-bubbles {
  display: block;
  position: absolute;
  top: 88rem;
  left: 10rem;
}

.dot {
  height: 0.8vw;
  width: 0.8vw;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  top: -10vh;
  left: 5vw;
  margin: 0 0.8vw 0 0;
  animation: moveInBottom 1s ease-out;
}

.active-img {
  background-color: dodgerblue;
}

p {
  color: #fff;
  line-height: 3.5vw;
  animation: moveInLeft 1s ease-out;

  &:last-child {
    font-size: 2.6vw;
    margin-top: 2vw;
  }
}

.carousel-text-box {
  max-width: 100%;
  position: absolute;
  display: block;
  top: 17vw;
  left: 5vw;
}

.carousel-text {
  max-width: 100%;
  display: block;
  color: #fff;
  font-size: 4vw;
}


