$c-logo-w: 10vw;
$c-bubble-h: 0.8vw;
$c-bubble-w: 0.8vw;
$c-text-left: 5vw;
$afcs-blue: rgb(14, 23, 38);
$afcs-blue-transparent: rgba(14, 23, 38, 0.50);

@mixin inline-block {
  position: relative;
  display: inline-block;
}

.carousel-box {
  position: relative;
  background-color: $afcs-blue-transparent;

  &-logo {
    position: absolute;
    width: $c-logo-w;
    top: 10vw;
    left: $c-text-left;
    animation: moveInRight 1s ease-out;
  }
}

.carousel {
  @include inline-block;
  z-index: -1;

  &-text-box {
    max-width: 100%;
    position: absolute;
    display: block;
    top: 17vw;
    left: $c-text-left;
  }

  &-text {
    max-width: 100%;
    display: block;
    color: #fff;
    font-size: 4vw;
  }
}

p {
  color: #fff;
  line-height: 3.5vw;
  animation: moveInLeft 1s ease-out 0.75s backwards;

  &:last-child {
    font-size: 2.6vw;
    margin-top: 2vw;
  }
}

.bubble {
  height: $c-bubble-h;
  width: $c-bubble-w;
  background-color: white;
  border-radius: 50%;
  @include inline-block;
  top: -4vw;
  left: $c-text-left;
  margin: 0 $c-bubble-w 0 0;
  animation: moveInBottom 1s ease-out 0.75s backwards;
}

.active-img {
  background-color: dodgerblue;
}



