@import "abstracts/variables";
@import "abstracts/mixins";
@import "base/animations";

.carousel-box {
  position: relative;
  background-color: $afcs-blue-transparent;
  height: 49.6vw;

  &-logo {
    position: absolute;
    width: $c-logo-w;
    top: 10vw;
    left: $c-text-left;
    animation: moveInRight 1s ease-out;
  }
}
.carousel {
  z-index: -1;
}

p {
  color: #fff;
  line-height: 3.5vw;
  animation: moveInLeft 1s ease-out 0.75s backwards;

  &:last-child {
    font-size: 2.6vw;
    margin-top: 2vw;
  }
}

.bubble {
  height: $c-bubble-h;
  width: $c-bubble-w;
  background-color: white;
  border-radius: 50%;
  @include inline-block;
  top: -4vw;
  left: $c-text-left;
  margin: 0 $c-bubble-w 0 0;
  animation: moveInBottom 1s ease-out 0.75s backwards;
}

.active-img {
  background-color: dodgerblue;
}




