@import "abstracts/variables";

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-5vw);
  }

  80%{
    transform: translateX(1vw);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10vw);
  }

  80%{
    transform: translateX(-1vw);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInBottom {
  0% {
    z-index: -1;
    opacity: 0;
    transform: translateY(10vw);
  }

  80%{
    transform: translateY(-1vw);
  }

  100% {
    z-index: -1;
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes moveInBottom2 {
  0% {
    z-index: -1;
    opacity: 0;
    transform: translateY(10vw);
  }

  100% {
    z-index: -1;
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes openUp {
  100% {
    width: 23.1vw;
  }
}

@keyframes slideOut {
  0% {
    width: 0;
  }

  100% {
    width: 4vw;
  }
}

@keyframes slideOutFull {
  0% {
    width: 0;
  }

  100% {
    width: $description-line-w;
  }
}

@keyframes fadeTitleIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes draw-square {
  100% {
    transform: rotate3d(0, 5, 0, 360deg);
  }
}

@keyframes draw-hex {
  100% {
    transform: rotate3d(0, 1, 0, 360deg);
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

@keyframes animateLogo {
  100% {
    transform: rotate3d(0, 1, 0, 360deg);
  }
}

@keyframes type {
  0% {
    width: 0;
  }

  1% {
    border-right: .15em solid orange;
  }

  99.9% {
    border-right: .15em solid orange;
  }
  100% {
    width: 100%;
    border: none;
  }
}

@keyframes typeLast {
  0% {
    width: 0;
  }

  1% {
    border-right: .15em solid orange;
  }

  99.9% {
    border-right: .15em solid orange;
  }
  100% {
    width: 15.5vw;
    border: none;
  }
}

@-webkit-keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: .15em solid orange;
  }
  100% {
    border: none;
  }
}


@keyframes blinking-cursor {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

@keyframes slideTextOutRight {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes drawLogo {
  0% {
    visibility: visible;
    stroke-dashoffset: 600;
  }

  100% {
    visibility: visible;
    stroke-dashoffset: 0;
  }
}

@keyframes fadeLogoIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes slideTile2Line {
  0% {
    width: 0;
  }

  100% {
    width: 15vw;
  }
}

@keyframes slideTile2TilesLeft {
  0% {
    z-index: 2;
    transform: translateX(-50%);
  }

  100% {
    z-index: 2;
    transform: translateX(0);
  }
}


@keyframes slideTile2TilesRight {
  0% {
    z-index: 2;
    transform: translateX(50%);
  }

  100% {
    z-index: 2;
    transform: translateX(0);
  }
}

@keyframes flyVideoIn {
  0% {
    transform: scaleX(0);
    box-shadow: 0px 0px 0px $afcs-blue;
  }

  100% {
    transform: scaleX(1);
    box-shadow: 0px 0px 0px $afcs-blue;
  }
}

@keyframes flyVideoOut {
  0% {
    transform: scaleX(1);
    box-shadow: 0px 0px 0px $afcs-blue;
  }

  100% {
    transform: scaleX(0);
    box-shadow: 0px 0px 0px $afcs-blue;
  }
}

@keyframes slideSmallNavOut {
  0% {
    display: none;
  }

  100% {
    display: block;
  }
}

@keyframes slideInTop {
  0% {
    transform: translateY(-5vw);
    z-index: 1;
  }

  100% {
    z-index: 1;
    visibility: visible;
    transform: translateY(0);
  }
}

@keyframes slideOutTop {
  0% {
    z-index: -1;
    transform: translateY(0);
    //opacity: 1;
  }

  100% {
    z-index: -1;
    transform: translateY(-10vw);
    //opacity: 0;
  }
}

@keyframes slideOutBottom {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(10vw);
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes slideInBottom {
  0% {
    transform: translateY(10vw);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes revealMid {
  0% {
    transform: scale(0);
    box-shadow: 0px 0px 0px;
  }

  100% {
    transform: scale(1);
    box-shadow: 0px 0px 0px;
  }
}
