/* You can add global styles to this file, and also import other style files */
@import "abstracts/mixins";
@import "animations";

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
}

::-webkit-scrollbar {
  width: 1vw;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

::-webkit-scrollbar-button {
  width: 1vw;
  height: 1vw;
}

//views
.about-page,
.careers-page,
.contact-page,
.find-job-page,
.social-page {
  background-color: $afcs-blue;
}

.carousel {
  @include inline-block;
  z-index: -1;

  &-text-box {
    max-width: 100%;
    position: absolute;
    display: block;
    top: 17vw;
    left: $c-text-left;
  }

  &-text {
    max-width: 100%;
    display: block;
    color: #fff;
    font-size: 4vw;
    text-shadow: 5px 5px 10px #000;
    line-height: 3.5vw;
    animation: moveInLeft 0.75s ease-out 0.50s backwards;

    &:nth-child(3) {
      font-size: 2.6vw;
      margin-top: 2vw;
      animation: moveInLeft 0.75s 1.25s backwards;
    }

    &-line {
      margin-top: 2vw;
      height: 0.2vw;
      width: 4vw;
      background-color: #fff;
      display: block;
      z-index: 1;
      animation: slideOut 0.75s ease 2s;
      animation-fill-mode: backwards;
    }
  }

  &-inner {
    height: 100%;
    width: 100%;
  }

  &-item {
    transition: opacity 1.2s ease!important;
    position: absolute!important;
    display: block!important;
    opacity: 0;

    &.active {
      position: relative!important;
      opacity: 1;

      img {
        max-height: 100vw;
        max-width: 100vw;
      }
    }

    img {
      max-height: 100vw;
      max-width: 100vw;
    }
  }
}

// Under Construction style
.uc-animation-img {
  width: 50%;
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);

  rect {
    animation: draw-square 2s infinite;
    transform-origin: 50% 50%;
    z-index: -1;
  }

  polygon {
    animation: draw-hex 2s ease-in-out infinite;
    transform-origin: 50% 50%;
    z-index: -1;
  }

  ellipse {
    transform-origin: 50% 50%;
    z-index: 1;
    animation: draw-hex 2s ease-in-out infinite;
  }
}

.pageName {
  position: absolute;
  color: #000;
  font-size: 2vw;
  left: 50%;
  top: 10%;
  transform: translate(-50%);
}

.uc-text {
  display: block;
  position: absolute;
  color: #000;
  font-size: 1.5vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.uc-dots {
  color: #fff;
  font-size: 2vw;
  position: absolute;
  top: 32%;
  left: 50%;
  transform: translate(-50%, -50%);

  &-dot {
    opacity: 0;
    animation: blink .5s step-end infinite;
  }

  @for $i from 1 to 4 {
    &-dot:nth-child(#{$i}) {
      animation-delay: $i * .5s;
      animation-fill-mode: backwards;
    }
  }
}

.uc-afcs-logo {
  position: absolute;

  g {
    path {
      transform-origin: 50% 50%;
      animation: animateLogo 3s ease-in-out infinite;
    }
  }
}

// Display section animation
.reveal-mid {
  animation: revealMid 0.5s forwards;
}
